
data/cord-19/
data/CHQA-Corpus-1.0/
data/EPIC-QA/
data/fasttext_embeddings/
data/owid-covid-data.csv
data/COVID-19_Vaccination_Locations.csv
data/COVID-19_Requests.csv
_*
.ipynb_checkpoints/
data/processed/titles_abstracts.csv
data/processed/tdm1.npz
data/processed/titles_abstracts_merged_cleaned.csv
data/processed/titles_abstracts_merged_cleaned_1.csv
*.npz
!streamlit_tdm.npz
results/lda_21_01/
results/lda_jan21_01 (garbage)/
results/final_models/lda_2021_corpus_clean/

data/processed/01_full_table.csv
data/processed/01_vectorizer.pkl
data/processed/02_vectorizer.pkl
data/processed/03_jan21_vectorizer.pkl
data/processed/metadata_clean.csv
data/processed/02_full_table.csv
data/processed/04_jan21_full_table.csv
data/processed/04_jan21_vectorizer.pkl
data/processed/metadata_clean2.csv
data/processed/metadata_clean_lda.csv
data/processed/metadata_apr21.csv
data/processed/metadata_jan21.csv
results/lda_jan21_01/jan21_01.expElogbeta.npy
results/apr21_01.expElogbeta.npy
results/lda_jan21_01/jan21_01.state.sstats.npy
data/processed/metadata_21.csv
data/processed/metadata_lda_sample.csv
data/processed/metadata_clean.csv.gz
